---
title: "Reading List"
layout: default
permalink: "/reading-list.html"
---

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
        <h2 class="books bg-highlight" style="font-size:1.8rem; display:inline-block;margin-bottom: 32px;">Reading List</h2>
        <br/>
          {% assign shortlist = site.reading_list | sort: 'date' | reverse %}
          {% for reads in shortlist%}
              {% include reads-loop-card.html item = reads %}
          {% endfor %}
        </div>
        
    <div class="col-md-4">
        {% include sidebar-category.html %}    
    </div>
        
    </div>
</div>