---
title: "cfrenzel"
layout: default
pagination:
    enabled: true
description: ""
---
<div class="container">
    
{% if page.url == "/" %} <!-- only on home page-->
<div class="row remove-site-content-margin">
    <div class="col-md-6 splash-bg">
    </div>
    <div class="col-md-6">
        {% include sidebar-featured.html %}    
    </div>  
</div>
{% endif %} <!--endif page url is / -->
    
    
<div class="row mt-6">
   
    <div class="col-md-9 main-loop">
        {% for post in paginator.posts %}
            {% include main-loop-card.html %}
        {% endfor %}
        
        <div class="mt-5">
         <!-- Pagination links -->
            {% if paginator.total_pages > 1 %}
            <ul class="pagination"> 
              {% if paginator.previous_page %}
                <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
              {% else %}
                <li class="page-item disabled"><span class="prev page-link">&laquo;</span></li>
              {% endif %}

              {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                <li class="page-item disabled"><span class="webjeda page-link">{{ page }}</span></li>
                {% elsif page == 1 %}
                <li class="page-item"><a class="page-link" href="{{site.baseurl}}/">{{ page }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                {% endif %}
              {% endfor %}

              {% if paginator.next_page %}
                <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
              {% else %}
                <li class="page-item disabled"><span class="next page-link">&raquo;</span></li>
              {% endif %}
            </ul>
            {% endif %}      
        </div>
        
    </div>
    
    <div class="col-md-3">
        {% include sidebar-category.html %}    
    </div>
    
</div>
</div>