<div class="sticky-top sticky-top-offset">
       
        <div class="sidebar-label">
                <span>Books</span>
                <hr/>
            </div>
        
    <div class="taglist">
        <ul>     
            <li>   
                <a class="books badge badge-pill" href="{{site.baseurl}}/reading-list.html">reading list</a>
            </li>
        </ul>
    </div>

    <div class="sidebar-label">
        <span>categories</span>
        <hr/>
    </div>
    {% assign sorted-cats = (site.categories | sort:) %}
        <div class="taglist">
            <ul>
                
                 {% for cat in sorted-cats %}
                <li>   
                    <a class="category badge badge-pill smoothscroll" href="{{site.baseurl}}/categories.html#{{ cat[0] | slugify }}">{{ cat[0] }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
        
        <div class="sidebar-label">
                <span>tags</span>
                <hr/>
            </div>
                {% assign sorted-tags = (site.tags | sort:) %}
        <div class="taglist">
            <ul>
            {% for tag in sorted-tags %}
             <li>   
                    <a href="{{site.baseurl}}/tag/{{ tag[0] | slugify }}" class="tag badge badge-pill">{{ tag[0] }}</a>
             </li>
            {% endfor %}
            </ul>
        </div>
    </div> 