<div style="padding-top:18px;padding-left:42px">
    <ol class="list-featured">	
       
        
          {% for post in site.tags.featured %}                
            <li class="mb-3">
            <span>
                <h6 class="font-weight-bold" style="margin-bottom:.3rem">
                    <a href="{{site.baseurl}}{{ post.url }}" class="text-dark">{{ post.title }}</a>
                </h6>
                <span class="d-block text-muted">
                    In <span class="catlist">
                    {% for category in post.categories %}
                    <a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
                    {% endfor %}
                    </span>
                </span>
            </span>
            </li>                
        {% endfor %}  
        
        <li class="mb-3">
                
            <span>   
            <h6 class="font-weight-bold"  style="margin-bottom:.3rem">
                    <a href="https://github.com/cfrenzel/Eventfully">
                        <i class="fab fa-github"></i>
                        Eventfully
                    </a>
                    <a href="https://www.nuget.org/packages/Eventfully.Core/" rel="nofollow"><img src="https://camo.githubusercontent.com/277fbdd4e6ba4af63b00b9144c01eb74fe58d6fd/68747470733a2f2f696d672e736869656c64732e696f2f6e756765742f762f4576656e7466756c6c792e436f72652e7376673f7374796c653d666c61742d737175617265" alt="NuGet version (Eventfully.Core)" data-canonical-src="https://img.shields.io/nuget/v/Eventfully.Core.svg?style=flat-square" style="max-width:100%;"></a>
                </h6> 
                <span class="d-block text-muted">
                        <span class="text-muted">Lightweight eventing for .NET</span>
                </span>
             </span>
          </li>
    </ol>
</div> 